.inner_server_container {
  display: flex;
  /* width: 92.8536%; */
  /* justify-content: space-evenly; */
  height: 90vh
}
.server-left {
  background-color: var(--darkred);
  color: var(--lightgray);
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

}
.inner_server_left {
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;

}
.server_middle {
  background-color: #0f292f;
  color: var(--lightgray);
  flex: auto;
  height: 100vh;
  margin-right: 6px;
  margin-left: 6px;

}

.server_right {
  background-color: var(--darkred);
  color: var(--lightgray);
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

}
.server-right {
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
