.login_form {
    padding: 10px;
}
.login_div {
    width: 100%;
}
.login_input {
    font-size: 15px;
    margin: 5px 0 5px 0;
    padding: 5px;
    border-radius: 10px;
}
.login {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.login button{
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: var(--red);
    color: var(--lightgray);
}
.login-button:hover {
    cursor: pointer;
    background-color: var(--darkred);
}
.login-demo:hover {
    cursor: pointer;
    background-color: var(--darkred);
}


.signup_form {
    padding: 10px;
}
.signup_div {
    width: 100%;
}
.singup_input {
    font-size: 15px;
    margin: 5px 0 5px 0;
    padding: 5px;
    border-radius: 10px;
}
.signin {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.signup-button {
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: var(--red);
    color: var(--lightgray);
}
.signup-button:hover {
    cursor: pointer;
    background-color: var(--darkred);
}
