/* TODO Add site wide styles */
* {
    margin: 0;
    padding: 0;
}

/* Color Palette */
:root {
	--darkred: #501f3a;
    --red: #cb2d6f;
    --lightgray: #cccccc;
    --greenblue: #14a098;
    --greener: #272727;
    --darkgreen: #0f292f;
}

body {
    background-color: var(--darkgreen);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 0.30rem;
}
body::-webkit-scrollbar-track {
    background: var(--darkgreen);
}
body::-webkit-scrollbar-thumb {
    background: var(--red);
}

/* small screens */
@media only screen and (max-width: 900px) {
    .we_the_dudes {
        flex-direction: column;
    }
    .each_dude {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}
/* Large screens */
@media only screen and (min-width: 600px) {

}

button:focus {
    outline: none;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
